.App {
  text-align: center;
}

.pokImage{
  height: 20rem;
  width: 20rem;
}

.main{
  padding: 5rem;
}

h1{
  background: linear-gradient(to left, #33ccff -10%, #ffff00 50%) !important;
  width: auto;
  border-radius: 70%;
}

.figure {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  padding: 2rem 2rem;
  background: linear-gradient(to top left, #33ccff -8%, #ffff00 52%);
}

/* On mouse-over, add a deeper shadow */
.figure:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

/* Background classes for the cards */
.water{
  background-image: url('../public/water.png');
}
.steel{
  background-image: url('../public/steel.png');
}
.rock{
  background-image: url('../public/rock.png');
}
.poison{
  background-image: url('../public/poison.png');
}
.ice{
  background-image: url('../public/ice.png');
}
.water{
  background-image: url('../public/water.png');
}
.ground{
  background-image: url('../public/ground.jpg');
}
.grass{
  background-image: url('../public/grass.png');
}
.fire{
  background-image: url('../public/fire.png');
}
.fairy{
  background-image: url('../public/fairy.png');
}
.electric{
  background-image: url('../public/electric.png');
}

.progressWidth{
  width: 100% ;
}